spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/makeat
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 123

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

jwt:
  secret: ${jwtSecret}

kakao:
  client_id: ${kakaoClientId}
  redirect_url: ${kakaoRedirectUrl}

naver:
  client_id: ${naverClientId}
  secret_id: ${naverSecretId}


logging:
  level:
    org.hibernate.sql: debug

aws:
  access-key:
  secret-key:
  s3:
    region:
    bucket:

#server:
#  port: 8080
#  ssl:
#    key-store: keystore.p12
#    key-store-type: PKCS12
#    key-store-password: makeat