spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/makeat
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 123

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

jwt:
  secret: universe.ultra.special.cookie0010

kakao:
  client_id: 0658266bd27dd7c683f32dc7aecb3faf
  redirect_url: http://localhost:8080/user/kakao

naver:
  client_id: DrQR_W4Xbc77w5QsAX6M
  secret_id: Hp7DGQH1Sa


logging:
  level:
    org.hibernate.sql: debug
#
#server:
#  port: 8080
#  ssl:
#    key-store: keystore.p12
#    key-store-type: PKCS12
#    key-store-password: makeat